# Node modules are automatically included by EAS, so no need to include build artifacts

node_modules/
.expo/
.expo-shared/
android/build/
ios/build/
.vscode/
.cache/
_.log
_.tmp
_.bak
_.swp
\*.DS_Store

# Test folders

**/**tests**/
**/_.test.js
\*\*/_.spec.js
\*\*/test/

# Git and version control

.git/
.gitignore

# Local environment and config files

.env
.env.local
.env.\*.local

# Build artifacts (Expo, EAS, Metro)

web-build/
dist/
\*.tar.gz

# Temporary or backup files

_.old
_.backup

# Optional: ignore large media files not used in production

**/assets/videos/
**/assets/audio/temp/
